name: test workflow

on: 
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  test-test:
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: |
            echo "test"
